<div class="container-medium">
    <h1>Administration</h1>

    <a [routerLink]="['/']">Go back</a>

    <app-administration-authorities></app-administration-authorities>
    <app-administration-invitations></app-administration-invitations>
    
    <app-administration-categories></app-administration-categories>
    <app-administration-posts></app-administration-posts>
    
    <app-administration-users></app-administration-users>
    <app-administration-comments></app-administration-comments>
</div>
