<div class="container-small">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <h2>Change password</h2>

        <p class="form-success-text">The code has been successfuly sent to your email.
            Check your email and use the code to change your password.</p>

        <label>Code</label>
        <input type="text" id="code" class="form-control" formControlName="code"
            [ngClass]="{'is-invalid': ((code?.dirty || code?.touched) && code?.invalid) }">
        <div *ngIf="(code?.dirty || code?.touched) && code?.invalid">
            <p class="form-error-text">Code is required</p>
        </div>

        <label>Password</label>
        <input type="password" id="password1" class="form-control" formControlName="password1"
            [ngClass]="{'is-invalid': ((password1?.dirty || password1?.touched) && password1?.invalid) }">
        <div *ngIf="(password1?.dirty || password1?.touched) && password1?.invalid">
            <p class="form-error-text">Password is required</p>
        </div>

        <label>Please repeat the password</label>
        <input type="password" id="password2" class="form-control" formControlName="password2"
            [ngClass]="{'is-invalid': ((password2?.dirty || password2?.touched) && password2?.invalid) }">
        <div *ngIf="(password2?.dirty || password2?.touched) && f.password2.errors?.required">
            <p class="form-error-text">Please repeat the password</p>
        </div>

        <div *ngIf="(password2?.dirty || password2?.touched) && password1?.value != password2?.value">
            <p class="form-error-text">Passwords don't match</p>
        </div>

        <p class="form-error-text">{{errorMessage}}</p>

        <div *ngIf="successMessage.length != 0">
            <p class="form-success-text">{{successMessage}}</p>
            <a [routerLink]="['/login']">Go to login page</a>
        </div>

        <div class="form-buttons">
            <div *ngIf="successMessage.length == 0">
                <a [routerLink]="['/']" class="btn btn-outline-primary">Cancel</a>
                <button type="submit" class="btn btn-primary" [ngClass]="{'btn-disabled' : !formGroup.valid }"
                    [disabled]="!formGroup.valid">Change password</button>
            </div>
        </div>
    </form>

</div>