<app-navigation></app-navigation>

<article class="container-medium">
    <div *ngIf=post>
        <h3>{{post.title}}</h3>
        <img [src]="post.imagePath" alt="postImage" id="postImage">
        <p>Category: <a [routerLink]="['/c/', post.categoryName]">{{post.categoryName}}</a></p>
        <p>Author: <a [routerLink]="['/u/', post.userUsername]">{{post.userUsername}}</a></p>
        <p>Date of creation: {{post.dateOfCreation | date:'d.M.Y.'}}</p>
        <p>{{post.content}}</p>

        <app-post-comments [postId]="post.id!"></app-post-comments>
    </div>

    <div *ngIf=errorMessage>
        <p>{{errorMessage}}</p>
    </div>
</article>