<h2>Posts</h2>

<div>
    <a [routerLink]="['/p/editor']">
        <button type="button" class="btn btn-success">New post</button>
    </a>
</div>

<div>
    <label>Filter post by title:</label>
    <input type="text" [(ngModel)]="QueryName">
</div>

<table>
    <thead>
        <tr>
            <th>id</th>
            <th style="width: 100%;">title</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let p of posts | filterByString: 'title' : QueryName;">
            <td><a [routerLink]="['/p/', p.id]">{{p.id}}</a></td>
            <td><a [routerLink]="['/p/', p.id]">{{p.title}}</a></td>

            <td>
                <a [routerLink]="['/p/editor/', p.id]" class="btn btn-warning btn-no-margin"><fa-icon [icon]="faPencilAlt"></fa-icon></a>
            </td>

            <td>
                <button type="button" class="btn btn-danger btn-no-margin" (click)="deletePost(p.id!)"><fa-icon [icon]="faTrash"></fa-icon></button>
            </td>
        </tr>
    </tbody>
</table>