@use "sass:math";

article {
    float: left;

    padding: 1rem;

    h4,
    p {
        padding: 0rem 0.8rem;
    }

    h4 {
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 768px) {
    article {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    article {
        width: 50%;
    }
}

@media only screen and (min-width: 992px) {
    article {
        width: math.percentage(0.33);
    }
}
