ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        position: relative;

        button {
            position: absolute;
            right: 0px;
            top: 0px;

            opacity: 0;
            transition: opacity 0.2s linear;
        }
    }

    li:hover {
        button {
            opacity: 1;
        }
    }
}
