<h2>Categories</h2>

<div>
    <button type="button" class="btn btn-success" (click)="openEditor()">New category</button>
</div>

<table>
    <thead>
        <tr>
            <th style="width: fit-content; text-align: center;">id</th>
            <th style="width: 100%;">name</th>
            <th style="width: fit-content; text-align: center;">edit</th>
            <th style="width: fit-content; text-align: center;">delete</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let c of categories;">
            <td>{{c.id}}</td>
            <td>{{c.name}}</td>

            <td>
                <button type="button" class="btn btn-warning" (click)="openEditor(c)">Edit</button>
            </td>

            <td>
                <button type="button" class="btn btn-danger" (click)="deleteCategory(c.id!)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="editMode">
    <app-editor-category [category]="categoryForEdit" (editModeFalse)="closeEditor($event)"></app-editor-category>
</div>