<div style="margin: 0 auto; width:100%; max-width: 576px;">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <h2>Post editor</h2>

        <label>Title:</label>
        <input type="text" id="title" class="form-control" formControlName="title"
            [ngClass]="{'is-invalid': ((title?.dirty || title?.touched) && title?.invalid)}">

        <div *ngIf="(title?.dirty || title?.touched) && title?.invalid">
            <p class="form-error-text">Title is empty</p>
        </div>

        
        <label>Image</label>
        <label for="image" class="file-upload">🖼️ Upload image</label>
        <input type="file" id="image" class="form-control" formControlName="image" (change)="onFileChange($event)"/>

        <label>Content:</label>
        <textarea cols="30" rows="10" id="content" class="form-control" formControlName="content"
            [ngClass]="{'is-invalid': ((content?.dirty || content?.touched) && content?.invalid)}"></textarea>

        <div *ngIf="(content?.dirty || content?.touched) && content?.invalid">
            <p class="form-error-text">Content is empty</p>
        </div>

        <label>Date of creation:</label>
        <input type="datetime-local" id="dateOfCreation" class="form-control" formControlName="dateOfCreation"
            [ngClass]="{'is-invalid': ((dateOfCreation?.dirty || dateOfCreation?.touched) && dateOfCreation?.invalid)}">

        <div *ngIf="(dateOfCreation?.dirty || dateOfCreation?.touched) && dateOfCreation?.invalid">
            <p class="form-error-text">Date of creation is empty</p>
        </div>

        <label>User:</label>
        <select id="userId" class="form-control" formControlName="userId"
            [ngClass]="{'is-invalid': ((userId?.dirty || userId?.touched) && userId?.invalid)}">
            <option *ngFor="let user of users" [ngValue]="user.id">{{user.username}}</option>
        </select>

        <div *ngIf="(userId?.dirty || userId?.touched) && userId?.invalid">
            <p class="form-error-text">userId is empty</p>
        </div>

        <label>Category:</label>
        <select id="categoryId" class="form-control" formControlName="categoryId"
            [ngClass]="{'is-invalid': ((categoryId?.dirty || categoryId?.touched) && categoryId?.invalid)}">
            <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
        </select>

        <div *ngIf="(categoryId?.dirty || categoryId?.touched) && categoryId?.invalid">
            <p class="form-error-text">categoryId is empty</p>
        </div>

        <div *ngIf="errorMessage">
            <p class="form-error-text">{{errorMessage}}</p>
        </div>

        <div class="flex-container flex-direction-row justify-content-flex-end">
            <button type="submit" class="btn btn-primary" [ngClass]="{'btn-disabled' : !formGroup.valid }"
                [disabled]="!formGroup.valid">Post</button>
        </div>
    </form>

</div>