<app-navigation></app-navigation>

<div *ngIf="user">
    <img [src]="user.imagePath" alt="userImage" id="userImage">
    <h2>{{user.username}}</h2>
    <h3 *ngIf="user.authorityTitle != null">{{user.authorityTitle}}</h3>
    <h3>Date of creation: {{user.dateOfCreation | date:'d.M.Y.'}}</h3>
</div>

<div *ngFor="let p of posts;">
    <article>
        <img [src]="p.imagePath" alt="postImage" id="postImage">
        <h2><a [routerLink]="['/p/', p.id]">{{p.title}}</a></h2>
    </article>
</div>

<div>
    <app-user-comments [username]="user.username" ></app-user-comments>
</div>

<div *ngIf=errorMessage>
    <p>{{errorMessage}}</p>
</div>