<div class="container-small">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <h2>Login</h2>

        <label>Username:</label>
        <input type="text" id="username" class="form-control" formControlName="username"
            [ngClass]="{'is-invalid': ((username?.dirty || username?.touched) && username?.invalid)}">

        <div *ngIf="(username?.dirty || username?.touched) && username?.invalid">
            <p class="form-error-text">Username is empty</p>
        </div>

        <label>Password</label>
        <input type="password" id="password" class="form-control" formControlName="password"
            [ngClass]="{'is-invalid': ((password?.dirty || password?.touched) && password?.invalid) }">
        <div *ngIf="(password?.dirty || password?.touched) && password?.invalid">
            <p class="form-error-text">Password is empty</p>
        </div>

        <div *ngIf="errorMessage">
            <p class="form-error-text">{{errorMessage}}</p>
        </div>

        <div class="form-buttons">
            <a [routerLink]="['/']" class="btn btn-outline-primary">Cancel</a>
            <button type="submit" class="btn btn-primary" [ngClass]="{'btn-disabled' : !formGroup.valid }"
                [disabled]="!formGroup.valid">Login</button>
        </div>

        <p>Don't have an account? <span><a [routerLink]="['/registration']">Sing up!</a></span></p>
    </form>

</div>