<body>
    <h1>Typography</h1>

    <hr>

    <h1>Lorem ipsum dolor sit amet</h1>

    <h2>Lorem ipsum dolor sit amet</h2>

    <h3>Lorem ipsum dolor sit amet</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed purus commodo, dapibus lectus sed, vestibulum
        lacus.
        Aliquam iaculis orci nec nisi laoreet gravida. Vestibulum iaculis ac diam vel consequat. Fusce maximus metus id
        est
        rutrum scelerisque. Mauris at lectus porttitor, efficitur dolor vel, rutrum sem. Ut vulputate placerat diam sed
        gravida. Vestibulum nec molestie nibh. Donec sed est sit amet arcu luctus facilisis sit amet at metus. Maecenas
        a
        ultricies dui. In facilisis neque nec dolor semper, eget pretium sem mollis. Donec a egestas leo. Integer
        condimentum a leo ac tristique. Nam tincidunt vehicula sem quis porta. Praesent malesuada consequat sodales.
        Praesent quis venenatis mi, nec malesuada libero.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed purus commodo, dapibus lectus sed, vestibulum
        lacus.
        Aliquam iaculis orci nec nisi laoreet gravida. Vestibulum iaculis ac diam vel consequat. Fusce maximus metus id
        est
        rutrum scelerisque. Mauris at lectus porttitor, efficitur dolor vel, rutrum sem. Ut vulputate placerat diam sed
        gravida. Vestibulum nec molestie nibh. Donec sed est sit amet arcu luctus facilisis sit amet at metus. Maecenas
        a
        ultricies dui. In facilisis neque nec dolor semper, eget pretium sem mollis. Donec a egestas leo. Integer
        condimentum a leo ac tristique. Nam tincidunt vehicula sem quis porta. Praesent malesuada consequat sodales.
        Praesent quis venenatis mi, nec malesuada libero.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed purus commodo, dapibus lectus sed, vestibulum
        lacus.
        Aliquam iaculis orci nec nisi laoreet gravida. Vestibulum iaculis ac diam vel consequat. Fusce maximus metus id
        est
        rutrum scelerisque. Mauris at lectus porttitor, efficitur dolor vel, rutrum sem. Ut vulputate placerat diam sed
        gravida. Vestibulum nec molestie nibh. Donec sed est sit amet arcu luctus facilisis sit amet at metus. Maecenas
        a
        ultricies dui. In facilisis neque nec dolor semper, eget pretium sem mollis. Donec a egestas leo. Integer
        condimentum a leo ac tristique. Nam tincidunt vehicula sem quis porta. Praesent malesuada consequat sodales.
        Praesent quis venenatis mi, nec malesuada libero.</p>

    <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed purus commodo, dapibus lectus sed,
        vestibulum
        lacus.
        Aliquam iaculis orci nec nisi laoreet gravida. Vestibulum iaculis ac diam vel consequat. Fusce maximus metus id
        est
        rutrum scelerisque. Mauris at lectus porttitor, efficitur dolor vel, rutrum sem. Ut vulputate placerat diam sed
        gravida.</blockquote>

    <img src="https://via.placeholder.com/1920x400" style="width:100%">
    <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed purus commodo, dapibus lectus sed,
        vestibulum
        lacus.
        Aliquam iaculis orci nec nisi laoreet gravida. Vestibulum iaculis ac diam vel consequat. Fusce maximus metus id
        est
        rutrum scelerisque. Mauris at lectus porttitor, efficitur dolor vel, rutrum sem. Ut vulputate placerat diam sed
        gravida.</figcaption>

    <hr>

    <h1>Form</h1>

    <form>
        <label>Text</label>
        <input type="text" placeholder="text">

        <label>Number</label>
        <input type="number" placeholder="number">

        <label>Email</label>
        <input type="email" class="is-invalid" placeholder="email@email.com">
        <p class="form-warning-text">Email is invalid</p>

        <label>Password</label>
        <input type="password" placeholder="password">

        <label>Upload file</label>
        <label for="file-upload" class="file-upload">📁 Upload file</label>
        <input id="file-upload" type="file" />

        <br>

        <label for="textare">Textarea</label>
        <textarea cols="30" rows="10"></textarea>

        <br>

        <label for="dropdown">Pick one:</label>
        <select id="dropdown" name="dropdown">
            <option>Item</option>
            <option>Item</option>
            <option>Item</option>
            <option>Item</option>
        </select>

        <br>

        <button type="button" class="btn btn-primary">Click Me!</button>
        <a href="www.google.com" class="btn btn-primary">Click Me!</a>
        
        <br>

        <button type="button" class="btn btn-primary">Click Me!</button>
        <button type="button" class="btn btn-outline-primary">Click Me!</button>
        <button type="button" class="btn btn-primary disabled">Click Me!</button>

        <br>

        <button type="button" class="btn btn-danger">Click Me!</button>
        <button type="button" class="btn btn-outline-danger">Click Me!</button>
        <button type="button" class="btn btn-danger disabled">Click Me!</button>

        <br>

        <button type="button" class="btn btn-warning">Click Me!</button>
        <button type="button" class="btn btn-outline-warning">Click Me!</button>
        <button type="button" class="btn btn-warning disabled">Click Me!</button>

        <br>

        <button type="button" class="btn btn-success">Click Me!</button>
        <button type="button" class="btn btn-outline-success">Click Me!</button>
        <button type="button" class="btn btn-success disabled">Click Me!</button>

        <br>

        <button type="button" class="btn btn-secondary">Click Me!</button>
        <button type="button" class="btn btn-outline-secondary">Click Me!</button>
        <button type="button" class="btn btn-secondary disabled">Click Me!</button>
    </form>

    <hr>

    <h1>Tables</h1>

    <table>

        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
        </tbody>
    </table>

    <hr>
</body>