<body>
    <h1>Typography</h1>

    <hr>

    <h1>Lorem ipsum dolor sit amet</h1>

    <h2>Lorem ipsum dolor sit amet</h2>

    <h3>Lorem ipsum dolor sit amet</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed purus commodo, dapibus lectus sed, vestibulum
        lacus.
        Aliquam iaculis orci nec nisi laoreet gravida. Vestibulum iaculis ac diam vel consequat. Fusce maximus metus id
        est
        rutrum scelerisque. Mauris at lectus porttitor, efficitur dolor vel, rutrum sem. Ut vulputate placerat diam sed
        gravida. Vestibulum nec molestie nibh. Donec sed est sit amet arcu luctus facilisis sit amet at metus. Maecenas
        a
        ultricies dui. In facilisis neque nec dolor semper, eget pretium sem mollis. Donec a egestas leo. Integer
        condimentum a leo ac tristique. Nam tincidunt vehicula sem quis porta. Praesent malesuada consequat sodales.
        Praesent quis venenatis mi, nec malesuada libero.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed purus commodo, dapibus lectus sed, vestibulum
        lacus.
        Aliquam iaculis orci nec nisi laoreet gravida. Vestibulum iaculis ac diam vel consequat. Fusce maximus metus id
        est
        rutrum scelerisque. Mauris at lectus porttitor, efficitur dolor vel, rutrum sem. Ut vulputate placerat diam sed
        gravida. Vestibulum nec molestie nibh. Donec sed est sit amet arcu luctus facilisis sit amet at metus. Maecenas
        a
        ultricies dui. In facilisis neque nec dolor semper, eget pretium sem mollis. Donec a egestas leo. Integer
        condimentum a leo ac tristique. Nam tincidunt vehicula sem quis porta. Praesent malesuada consequat sodales.
        Praesent quis venenatis mi, nec malesuada libero.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed purus commodo, dapibus lectus sed, vestibulum
        lacus.
        Aliquam iaculis orci nec nisi laoreet gravida. Vestibulum iaculis ac diam vel consequat. Fusce maximus metus id
        est
        rutrum scelerisque. Mauris at lectus porttitor, efficitur dolor vel, rutrum sem. Ut vulputate placerat diam sed
        gravida. Vestibulum nec molestie nibh. Donec sed est sit amet arcu luctus facilisis sit amet at metus. Maecenas
        a
        ultricies dui. In facilisis neque nec dolor semper, eget pretium sem mollis. Donec a egestas leo. Integer
        condimentum a leo ac tristique. Nam tincidunt vehicula sem quis porta. Praesent malesuada consequat sodales.
        Praesent quis venenatis mi, nec malesuada libero.</p>

    <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed purus commodo, dapibus lectus sed,
        vestibulum
        lacus.
        Aliquam iaculis orci nec nisi laoreet gravida. Vestibulum iaculis ac diam vel consequat. Fusce maximus metus id
        est
        rutrum scelerisque. Mauris at lectus porttitor, efficitur dolor vel, rutrum sem. Ut vulputate placerat diam sed
        gravida.</blockquote>

    <img src="https://via.placeholder.com/1920x400" style="width:100%">
    <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed purus commodo, dapibus lectus sed,
        vestibulum
        lacus.
        Aliquam iaculis orci nec nisi laoreet gravida. Vestibulum iaculis ac diam vel consequat. Fusce maximus metus id
        est
        rutrum scelerisque. Mauris at lectus porttitor, efficitur dolor vel, rutrum sem. Ut vulputate placerat diam sed
        gravida.</figcaption>

    <hr>

    <h1>Form</h1>

    <form>
        <label>Text</label>
        <input type="text" placeholder="text">

        <label>Number</label>
        <input type="number" placeholder="number">

        <label>Email</label>
        <input type="email" class="is-invalid" placeholder="email@email.com">
        <p class="form-warning-text">Email is invalid</p>

        <label>Password</label>
        <input type="password" placeholder="password">

        <label>Upload file</label>
        <label for="file-upload" class="file-upload">📁 Upload file</label>
        <input id="file-upload" type="file" />

        <br>

        <label for="textare">Textarea</label>
        <textarea cols="30" rows="10"></textarea>

        <br>

        <label for="dropdown">Pick one:</label>
        <select id="dropdown" name="dropdown">
            <option>Item</option>
            <option>Item</option>
            <option>Item</option>
            <option>Item</option>
        </select>

        <br>

        <button type="button" class="primary">Click Me!</button>
        <button type="button" class="outline-primary">Click Me!</button>
        <button type="button" class="primary disabled">Click Me!</button>

        <br>

        <button type="button" class="danger">Click Me!</button>
        <button type="button" class="outline-danger">Click Me!</button>
        <button type="button" class="danger disabled">Click Me!</button>

        <br>

        <button type="button" class="warning">Click Me!</button>
        <button type="button" class="outline-warning">Click Me!</button>
        <button type="button" class="warning disabled">Click Me!</button>

        <br>

        <button type="button" class="success">Click Me!</button>
        <button type="button" class="outline-success">Click Me!</button>
        <button type="button" class="success disabled">Click Me!</button>
    </form>

    <hr>

    <h1>Tables</h1>

    <table>

        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <h1>Containers</h1>

    <h2>flex-container flex-direction-row justify-content-space-around align-items-center</h2>

    <div class="flex-container flex-direction-row justify-content-space-around align-items-center"
        style="background: silver; height: 600px;">
        <div style="background-color: royalblue; width: 200px; height: 200px;">1</div>
        <div style="background-color: rebeccapurple; width: 200px; height: 400px;">2</div>
        <div style="background-color: palevioletred; width: 200px; height: 300px;">3</div>
        <div style="background-color: rosybrown; width: 200px; height: 100px;">4</div>
    </div>

    <h2>flex-container flex-direction-row flex-wrap-wrap justify-content-flex-end align-content-flex-end</h2>

    <div class="flex-container flex-direction-row flex-wrap-wrap justify-content-flex-end align-content-flex-end"
        style="background: silver; height: 600px;">
        <div style="background-color: royalblue; width: 200px; height: 375px;">1</div>
        <div style="background-color: rebeccapurple; width: 200px; height: 400px;">2</div>
        <div style="background-color: palevioletred; width: 200px; height: 300px;">3</div>
        <div style="background-color: rosybrown; width: 200px; height: 325px;">4</div>
        <div style="background-color: royalblue; width: 200px; height: 250px;">5</div>
        <div style="background-color: rebeccapurple; width: 200px; height: 400px;">6</div>
        <div style="background-color: palevioletred; width: 200px; height: 300px;">7</div>
        <div style="background-color: rosybrown; width: 200px; height: 300px;">8</div>
    </div>

    <h2>flex-container flex-direction-column justify-content-space-between align-items-flex-end</h2>

    <div class="flex-container flex-direction-column justify-content-space-between align-items-flex-end"
        style="height: 1000px; background-color: thistle;">
        <div style="background-color: royalblue; width: 400px; height: 200px;">1</div>
        <div style="background-color: rebeccapurple; width: 200px; height: 200px;">2</div>
        <div style="background-color: palevioletred; width: 300px; height: 200px;">3</div>
        <div style="background-color: rosybrown; width: 100px; height: 200px;">4</div>
    </div>

    <h2>flex-container flex-direction-column justify-content-space-between</h2>

    <div class="flex-container flex-direction-column justify-content-space-between"
        style="height: 1000px; background-color: thistle;">
        <div style="background-color: royalblue; width: 400px; height: 200px;">1</div>
        <div style="background-color: rebeccapurple; width: 200px; height: 200px;">2</div>
        <div class="align-self-flex-end" style="background-color: palevioletred; width: 300px; height: 200px;">3
            class="align-self-flex-end"</div>
        <div style="background-color: rosybrown; width: 100px; height: 200px;">4</div>
    </div>
</body>