<h5>Comments:</h5>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <input type="text" id="content" class="form-control" formControlName="content"
        [ngClass]="{'is-invalid': ((content?.dirty || content?.touched) && content?.invalid)}">

    <div class="form-buttons">
        <button type="submit" class="btn btn-success" [ngClass]="{'btn-disabled' : !formGroup.valid }"
            [disabled]="!formGroup.valid">Comment</button>
    </div>
</form>

<ul>
    <li *ngFor="let c of comments">
        <a [routerLink]="['/u/', c.userUsername]">{{c.userUsername}}</a> - {{c.dateOfCreation | date:'d.M.Y. -
        HH:mm'}}
        <p>{{c.content}}</p>

        <button *ngIf="userCanDeleteComment(c.userId)" type="button" class="btn btn-danger btn-no-margin"
            (click)="deleteCommentOnAPost(c.id!)">
            delete
        </button>
    </li>
</ul>