<p>Comments:</p>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <input type="text" id="content" class="form-control" formControlName="content"
        [ngClass]="{'is-invalid': ((content?.dirty || content?.touched) && content?.invalid)}">

    <div class="flex-container flex-direction-row justify-content-flex-end">
        <button type="submit" class="btn btn-success" [ngClass]="{'btn-disabled' : !formGroup.valid }"
            [disabled]="!formGroup.valid">Comment</button>
    </div>
</form>

<ul>
    <li *ngFor="let c of comments">
        <a [routerLink]="['/u/', c.userUsername]">{{c.userUsername}}</a> - {{c.dateOfCreation | date:'d.M.Y. - HH:mm'}}
        <p>{{c.content}}</p>
    </li>
</ul>