<nav>
    <div *ngIf="userIsLogged;">
        <div class="menu">
            <a [routerLink]="['/p/editor']" class="btn btn-secondary">New post</a>
            <a [routerLink]="['/administration']" class="btn btn-secondary">Administration</a>

            <div class="submenu">
                <img [src]="user?.imagePath" alt="userImage" id="userImage">
                <p>{{user?.username}}</p>

                <div class="submenu-content">
                    <a [routerLink]="['/u/', user?.username]">My profile</a>
                    <a href="#">Settings</a>
                    <a href="" (click)="logout()">Log out</a>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!userIsLogged;">
        <a [routerLink]="['/registration']">
            <button class="btn btn-outline-secondary">Registration</button>
        </a>

        <a [routerLink]="['/login']">
            <button class="btn btn-outline-secondary">Login</button>
        </a>
    </div>
</nav>